/* Universal selector; use with caution */

* {
 !border: 1px solid #000;
}

/* General layout */

body {
  background-color:#FFE6EE;
  max-width: 48rem;
  padding: 0 5%;
  margin: 0 auto;
}


h2, p, .image-credit {
color: red;
}

/* header */

header h1 {
  font-size: 3em;
  margin-bottom: 0;
  border: 0.1px solid #000;
  border-color: red;
  text-align: center;
  line-height: 0.8em;
  color: red;
}


.flex-box{
  display: flex;
  justify-content: space-between;
}

.flex-box-wrap{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}


.flex-box > div{
  margin:1em;
}

img {
  width: auto;
  max-width: 50%;
  height: auto;

}

ol{
  text-align: left;
  text-transform: none;
  font-style: none;
  color: red;
}

details{
  color: red;
}

summary{
  font-size: large;
  font-weight: bold;
}

/*Google Chrome workaround found via Stack Overflow*/
details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
    content: '→';
 }

details[open] > summary::before {
    content: '↓';
}

/*Adds a linebreak by forcing browser to
  read whitespace.*/
.needing-space::before {
      content: "\a";
      white-space: pre;
}

ul {
  border: 1px solid #000;
  border-color: red;
}

ul > li {
  text-align: left;
  white-space: nowrap;
  color: red;
}
